<main>
    <div class="container list-product-page">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                <li class="breadcrumb-item"><a href="/">Sản Phẩm</a></li>
                <li class="breadcrumb-item"><a href="/">Danh Sách Sản Phẩm</a></li>
            </ol>
        </nav>
        <div class="title-listProduct">
          <h1>Danh Sách Sản Phẩm</h1>
          {{#if deleteCount}}
          <a href="me/trash" title="Thùng Rác"><i class="fas fa-trash"></i><sub>{{deleteCount}}</sub></a>
          {{/if}}
        </div>
        <div class="mt-4 mb-4 box-control-checkbox">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkBox-all">
            <label class="form-check-label" for="checkBox-all">Chọn Tất Cả</label>
          </div>
          <div class="select-all-options">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option> -- Hành Động -- </option>
              <option value="1">Xóa</option>
            </select>
            <button type="button" class="btn btn-primary" disabled>Thực Hiện</button>
          </div>
        </div>
        <table class="table">
          <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th scope="col">STT</th>
                <th scope="col">Tên Sản Phẩm</th>
                <th scope="col">Đơn Giá</th>
                <th scope="col">VideoID</th>
                <th colspan="2">Hành Động</th>
              </tr>
          </thead>
          <tbody>
              {{#each Product}}
              <tr>
                  <td><input type="checkbox" name="productsID[]" value={{this._id}}></td>
                  <td>{{sum @index 1}}</td>
                  <td>{{this.name}}</td>
                  <td>{{this.price}}</td>
                  <td>{{this.videoID}}</td>
                  <td>
                      <a href="/product/{{this._id}}/edit" class="btn btn-success">Sửa</a>
                  </td>
                  <td>
                      <a href="/" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}" data-target="#deleteProduct">Xóa</a>
                  </td>
              <tr>
                {{else}}
                  <td colspan="5" style="text-align: center;">Không Có Sản Phẩm Nào!
                    <a href="product/create">Thêm Sản Phẩm</a>
                  </td>
              {{/each}}
          </tbody>
        </table>
    </div>
    {{!-- // comfim delete product --}}
<!-- Modal -->
<div id="deleteProduct" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông Báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa sản phẩm này không ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="bnt-delete-product" class="btn btn-danger">Xác nhận</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

{{!-- from delete --}}
<form name="delete-product-form" method="POST"></form>
</main>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var productID;
    var deleteFrom = document.forms['delete-product-form'];
    var bntDeleteProduct = document.getElementById('bnt-delete-product');
    var checkAll = $('#checkBox-all');
    var productIdCheckbox = $('input[name="productsID[]"]');
    

    $('#deleteProduct').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      productID = button.data('id');
    });
    bntDeleteProduct.onclick = function() {
      deleteFrom.action = '/product/' + productID + '?_method=DELETE';
      deleteFrom.submit();
    }


    checkAll.change(function () {
      var isChecked = $(this).prop('checked');
      productIdCheckbox.prop('checked',isChecked);

    });

    // thay đổi checkboxAll khi số phần tử checked bằng với số phần tử checkbox  
    productIdCheckbox.change(function (){
      var isCheckAll = productIdCheckbox.length === $('input[name="productsID[]"]:checked').length;
      checkAll.prop('checked',isCheckAll);
    })
    
  });
    
</script>