<div class='container'>
  <nav aria-label='breadcrumb'>
    <ol class='breadcrumb'>
      <li class='breadcrumb-item'><a href='/'>Trang Chủ</a></li>
      <li class='breadcrumb-item'><a href='/'>Sản Phẩm</a></li>
      <li
        class='breadcrumb-item active'
        aria-current='page'
      >{{Product.name}}</li>
    </ol>
  </nav>
  <div class='row'>
    <div class='col-md-9 col-sm-12'>
      <div class='alert alert-dark' role='alert'>
        <h4 class='tieude'>{{Product.name}}</h4>
      </div>
      <div class='card sanphamhienthi' style='width: 100%;'>
        <img
          class='card-img-top'
          src='{{Product.image}}'
          alt='{{Product.name}}'
        />
        <div class='card-body'>
          <p class='card-text'>{{Product.content}}</p>
          <p class='card-price'>{{Product.price}}</p>
          <a href='#' class='btn btn-primary'>Mua ngay</a>
        </div>
      </div>
      <div class='row sanphamlienquan'>
        <iframe
          class='mt-4'
          width='100%'
          height='315'
          style='margin: 30px 0'
          src='https://www.youtube.com/embed/{{Product.videoID}}'
          title='YouTube video player'
          frameborder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
    <div class='col-md-3 col-sm-12 ads-product'>
      <img src='.././img/ads-poster.png' alt='' />
    </div>
  </div>

</div>