<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <div class="alert alert-dark" role="alert">
                <h4 class="tieude">{{Product.name}}</h4>
            </div>
            <div class="card sanphamhienthi" style="width: 100%;">
                <img class="card-img-top" src=".././img/{{Product.image}}" alt="{{Product.name}}">
                <div class="card-body">
                    <p class="card-text">{{Product.content}}</p>
                    <p class="card-price">{{Product.price}}</p>
                    <a href="#" class="btn btn-primary">Mua ngay</a>
                </div>
            </div>
            <div class="row sanphamlienquan">
                <div class="card-deck">
                <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                    </div><div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                    </div><div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 ads-product">
            <img src="https://lh3.googleusercontent.com/proxy/E2blEs0cMGsJABNF3PzTYEKzWZDZdW4E6KkxYRHvFEUSiFul8W_-VDe8NEPTJ2PrT3HlfqE-UT6F13mnNCKTypSL8JAEEpQkI4FDbDQnltDsm4RJ6ZCsrrZ_UGb-VgTiAV7Sr6hIFu2AMewbzyHjw3tiDI7RXpenDrCiFA"
                alt="">
        </div>
    </div>
</div>